@import-normalize; /* bring in normalize.css styles */
:root {
  --black-color: black;
  --active-color: red;
  --botton-border: #d3d3d3;
  /* --button-border: #00ffff;
  --button-color: #e0ffff; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul,
li,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
